# Dependencies
/node_modules/

# TS compiled files
/dist/

# JWT Token
jwtRS256.key
jwtRS256.key.pub

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dev Environment
.vscode/
*.swp

# Dev Notes
notes.md